langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-openai
langchain-huggingface
sentence-transformers
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
tavily-python
streamlit
langchain-tavily
pytesseract
pdf2image
ddgs
duckduckgo-search
ipython
pypdf
playwright
unstructured
rank-bm25
torchvision
# for arize
arize-otel
openinference-instrumentation-langchain
openinference-instrumentation-openai
